In [2]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\Sannidhya\.conda\envs\myenv\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Sannidhya\.cache\huggingface\hub\datasets--lukebarousse--data_jobs. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Generating train split: 100%|██████████| 785741/785741 [00:04<00:00, 186746.45 examples/s]

In [7]:
df.iloc[0:10, 0:2]

        job_title_short                                          job_title
0  Senior Data Engineer  Senior Clinical Data Engineer / Principal Clin...
1          Data Analyst                                       Data Analyst
2         Data Engineer  Data Engineer/Scientist/Analyst, Mid or Senior...
3         Data Engineer  LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...
4         Data Engineer                             Data Engineer- Sr Jobs
5         Data Engineer                                  GCP Data Engineer
6  Senior Data Engineer                  Senior Data Engineer  - GCP Cloud
7         Data Engineer                                      Data Engineer
8      Business Analyst           Technology & Operations Business Analyst
9        Data Scientist                                  Data Scientist II